
        <section class="hero is-success is-fullheight">
          
          <div class="hero-body">
            <div class="container has-text-centered">
              <div class="column is-4 is-offset-4">
                <div *ngIf="errors" class="alert alert-danger">
                  {{errors |titlecase}}
                </div>
                <h3 class="title has-text-grey">Login</h3>
                <p class="subtitle has-text-grey">Please login to proceed.</p>
                <div class="box">
                  <figure class="avatar">
                    <img src="https://via.placeholder.com/300">
                  </figure>
                  <form #loginForm="ngForm">
                    <div class="field">
                      <div class="control">
                        <input class="input is-large"
                               type="email"
                               placeholder="Your Email"
                               autofocus=""
                               autocomplete="email"
                               required
                               name="email"
                               #email="ngModel"
                               [(ngModel)]="loginData.email"
                               email>
                        <div class="form-error" *ngIf="email.invalid && (email.dirty || email.touched)">
                          <span class="help is-danger" *ngIf="email.errors.required" >Email is required</span>
                          <span class="help is-danger" *ngIf="email.errors.email">Email address is not valid</span>
                        </div>
                      </div>
                    </div>
                    <div class="field">
                      <div class="control">
                        <input
                          class="input is-large"
                          type="password"
                          placeholder="Your Password"
                          autocomplete="current-password"
                          required
                               name="password"
                               #password="ngModel"
                               [(ngModel)]="loginData.password">
                        <div class="form-error" *ngIf="password.invalid && (password.dirty || password.touched)">
                          <span class="help is-danger">Password is required</span>
                        </div>
                      </div>
                    </div>
                    <!-- Login Button -->
                    <button
                      
                      class="button is-block is-info is-large is-fullwidth" [disabled]="loginForm.form.invalid"
                        (click)="loginUser()">
                      Login
                    </button>
                  </form>
                </div>
                <p class="has-text-grey">
                  <a>Sign In With Google</a> &nbsp;·&nbsp;
                  <a routerLink="/register">Sign Up</a> &nbsp;·&nbsp;
      
                  <a href="../">Need Help?</a>
                </p>
              </div>
            </div>
          </div>
        </section>
      
      
      
      