<div class="card manage-card">
    <header class="card-header card-section">
        <p class="card-header-title">Pricing</p>
    </header>
    <form #priceForm ="ngForm">
        <div class="card-content card-section">
            <div class="field">
                <label class="label">Price of the course</label>
                <div class="control">`
                    <input class="input is-medium" type="text" placeholder="179.99" 
                    #price="ngModel"
                    [(ngModel)]="priceData.price"
                    name="price">
                </div>
            </div>
            <div class="field">
                <label class="label">Discounted Price for the course</label>
                <div class="control">
                    <input class="input is-medium" type="text" placeholder="9.99"
                    
                    #discountedPrice="ngModel"
                    [(ngModel)]="priceData.discountedPrice"
                    name="discountedPrice">
                </div>
            </div>
        </div>
    </form>
</div>