.brand-title {
    font-size: 35px;
    font-weight: bold;
  }
  .navbar-brand {
    padding-right: 30px;
  }
  .avatar {
    margin-right: 5px;
  }

  a:hover{
    text-decoration: none; 
 }
 
  $primary:#4bacff;
$danger:#dc5222;
$navbar-height:5rem;
$navbar-item-img-max-height:3rem;
