.float-right {
    float: right;
  }
  .empty-container {
    width: 1px;
    height: 1px;
  }
  .course-create {
    &-wrapper {
      margin-top: 60px;
      text-align: center;
    }
    &-headerText {
      font-weight: 500;
      line-height: 1.1;
      margin-top: 21px;
      margin-bottom: 10.5px;
      font-size: 36px;
      font-weight: 300;
    }
    &-subtitle {
      font-size: 24px;
      font-weight: 300;
      margin-top: 21px;
      margin-bottom: 10.5px;
    }
    &-form {
      margin-top: 60px;
      &-group {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      &-field {
        min-width: 552px;
      }
      .select {
        width: 100%;
        >select {
          width: 100%;
        }
      }
    }
  }

  a{
      text-decoration: none;
  }

  .btn-outline-warning {
      color:black;
  }
  .btn-outline-warning:hover {
    color:black;
    background-color:white;
}

  .confirm{
      padding-left: .75em;
      padding-right: .75em;
      padding-top:calc(.375em - 1px);
      font-size: 1.5rem;
      color: white !important;
  }
  .confirm:hover{
    padding-left: .75em;
    padding-right: .75em;
    padding-top:calc(.375em - 1px);
    font-size: 1.5rem;
    background-color: white !important;
    color: black !important;
    border-color: green;
}